@import './normalize.less';
@import './variable/color.less';

// 所有颜色样式
.cl-white {
  color: @white;
}
.cl-black {
  color: @black;
}
.cl-gray-l-e {
  color: @gray-l-e;
}
.cl-gray-l {
  color: @gray-l;
}
.cl-gray {
  color: @gray;
}
.cl-gray-d {
  color: @gray-d;
}
.cl-gray-d-e {
  color: @gray-d-e;
}
.cl-yellow {
  color: @yellow;
}
.cl-yellow-d {
  color: @yellow-d;
}

// 所有字体样式
.fz-12 {
  font-size: 24/75rem;
}
.fz-14 {
  font-size: 28/75rem;
}
.fz-16 {
  font-size: 32/75rem;
}
.fz-18 {
  font-size: 36/75rem;
}
.fz-20 {
  font-size: 40/75rem;
}
.fz-29 {
  font-size: 58/75rem;
}